## Three columns seperated by white spaces
#TYPE	NAME		regex
def	triplet		[0-9]{1,3}
def 	doublet		[0-9]{1,2}
def	hexdoublet	[0-9a-fA-F]{2}
def	timezone 	[+-][0-1][0-9]00
def	ampm 		am | AM | pm | PM
def	port		[1-9][0-9]*
def	filename	[^\\/?*:<>"\[\] ]+
def	day		[1-9] | [1-2][0-9] | 0[1-9] | 3[0-1]
def	weekday		Mon | Monday | Tue | Tuesday | Wed | Wednesday | Thu | Thursday | Fri | Friday | Sat | Saturday | Sun | Sunday | mon | tue | wed | thu | fri | sat | sun 
def	month		Jan | jan | Feb | feb | Mar | mar | Apr | apr | May | may | Jun | jun | Jul | jul | Aug | aug | Sep | sep | Oct | oct | Nov | nov | Dec | dec | January | February | March | April | May | June | July | August | September | October | November | December
def	nummonth	0?[1-9] | 1[0-2]
def 	genmonth	{month} | {nummonth}
def	domainsuffix	com | net | edu | org | [a-z][a-z]
def	year		[0-2][0-9]{3}
def 	str		[A-Za-z][A-Za-z0-9_\-]*
def 	str1		[0-9A-Za-z][A-Za-z0-9_\-]*
def	query		[^&=]+=[^&]*(\&[^&=]+=[^&]*)*\&?
def	username	[a-zA-Z0-9!#$%&'*+\-/=?\^_`{|}~][a-zA-Z0-9!#$%&'*+\-/=?\^_`{|}~]*[a-zA-Z0-9!#$%&'*+\-/=?\^_`{|}~] | [a-zA-Z0-9!#$%&'*+\-/=?\^_`{|}~]
def	hostname	({str1}\.)+{domainsuffix}
def	protocol	http | ftp | https
exp	Ptime    	{doublet}:{doublet}((:{doublet})?)\s*{ampm}?\s*{timezone}?
exp	Pip		{triplet}\.{triplet}\.{triplet}\.{triplet}
exp	Pemail		{str1}@{hostname}
exp	Pmac		({hexdoublet}(: | \-)){5}{hexdoublet}
exp	Pdate		{genmonth}\/{day}\/{year} | {day}\/{genmonth}\/{year} | {year}\/{genmonth}\/{day} | {genmonth}\-{day}\-{year} | {day}\-{genmonth}\-{year} | {year}\-{genmonth}\-{day} | {genmonth}\.{day}\.{year} | {day}\.{genmonth}\.{year} | {year}\.{genmonth}\.{day} | ({weekday},?[ \t]+)?{month}[ \t]+{day}(,[ \t]+{year})? | ({weekday},?[ \t]+)?{day}[ \t]+{month}(,[ \t]+{year})?  
exp	Phostname	{hostname}
exp	Ppath		(\/{filename}){2}(\/{filename})*\/? | ({filename}\/){2}({filename}\/)*{filename}? | \\?(\\{filename}){2}(\\{filename})*\\? | ({filename}\\){2}({filename}\\)*{filename}?
exp	Purl		{protocol}:\/\/{Phostname}(:{port})?\/?(\/{filename})*\/?(\?)?\&?{query}?(#{str1})? | {protocol}:\/\/{Pip}(:{port})?\/?(\/{filename})*\/?(\?)?\&?{query}?(#{str1})? 
exp	PbXML		\<([a-zA-Z])+\>
def	oxmlb		\<[^>]+\>
exp	PeXML		\<\/[^>]+\>
exp	Pstring		[A-Za-z][A-Za-z0-9_\-]*
